<a href="https://colab.research.google.com/github/Eiram1/cyp_2021/blob/main/19_nov_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
I = 0
I = I + 1
print(f"I = { I }")

J = 5 ** 2 / 3
print(f"J = { J }")

I = 1
J = 8.333333333333334

In [9]:
A = 0
B = 0   # declaracion de variables (Reservando memoria)
C = 0
D = 0
A = int(input("Dame un valor entero: "))
B = int(input("Dame un valor entero: "))
C = int(input("Dame un valor entero: "))
D = int(input("Dame un valor entero: "))
print(D)
print(C)
print(B)
print(A)

Dame un valor entero: 3
Dame un valor entero: 4
Dame un valor entero: 1
Dame un valor entero: 78
78
1
4
3

In [15]:
#Ejemplo 1.7
A = 0
B = 0
RES = 0

A = int(input("Dame un entero: "))
B = int(input("Dame otro entero: "))

RES = (A + B) ** 2 /3
print(RES)

Dame un entero: 14
Dame otro entero: -5
27.0

In [19]:
#Ejemplo 1.8
MAT = 0
CAL1 = 0
CAL2 = 0
CAL3 = 0
CAL4 = 0
CAL5 =0
PRO = 0

MAT = input("Dame la matricula: ")
CAL1 = float(input("Dame la calificacion 1: "))
CAL2 = float(input("Dame la calificacion 2: "))
CAL3 = float(input("Dame la calificacion 3: "))
CAL4 = float(input("Dame la calificacion 4: "))
CAL5 = float(input("Dame la calificacion 5: "))
PRO = ( CAL1 + CAL2 + CAL3 + CAL4 + CAL5 ) /5
print(MAT , PRO)

Dame la matricula: 16500
Dame la calificacion 1: 8
Dame la calificacion 2: 8.5
Dame la calificacion 3: 9
Dame la calificacion 4: 7
Dame la calificacion 5: 6
16500 7.7

In [22]:
#Ejemplo 1.9
NUM = 0
CUA = 0
CUB = 0

NUM = int(input("Dame un numero entero: "))

CUA = NUM ** 2
CUB = NUM ** 3

print("El cuadrado de ", NUM, " es ", CUA, " y su cubo es ", CUB)

Dame un numero entero: 7
El cuadrado de  7  es  49  y su cubo es  343

In [29]:
#Ejemplo 1.10
BASE = 0
ALTU = 0
SUP = 0
PER = 0

BASE = float(input("Dame la base: "))
ALTU = float(input("Dame la altura: "))

SUP = BASE * ALTU
PER = 2 * (BASE + ALTU)
print(SUP , PER)

Dame la base: 8.5
Dame la altura: 6.2
52.7 29.4