<a href="https://colab.research.google.com/github/Eiram1/cyp_2021/blob/main/TAREA_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#EJEMPLO 2.4
SUE = float (input("ingresa tú sueldo:"))

if (SUE <= 1000):
  NSUE = SUE * 1.15
  print("Tú sueldo es de $ ",NSUE)

else:
  if (SUE > 1000):
    NSUE = SUE * 1.12
    print("Tú sueldo es de $", NSUE)

ingresa tú sueldo:2000
Tú sueldo es de $ 2240.0

In [14]:
#EJEMPLO 2.8
CATE = int (input("Ingresa la categoria: "))
SUE = float (input("Ingresa el sueldo: "))

if (SUE < 0):
  print("No debe haber sueldos negativos")

else:
  if (CATE > 0) and (CATE < 5):
    if (CATE == 1):
      SUE *= 1.15
    elif (CATE == 2):
      SUE *= 1.1
    elif (CATE == 3):
      SUE *= 1.08
    elif (CATE == 4):
      SUE *= 1.07
    print("El sueldo de un empleado en la categoria",CATE,"es",SUE)
  else:
    print("No existe la categoria")

Ingresa la categoria: 2
Ingresa el sueldo: 3200
El sueldo de un empleado en la categoria 2 es 3520.0000000000005