<a href="https://colab.research.google.com/github/Eiram1/cyp_2021/blob/main/TAREA_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
# EJERCICIO 3.1  FOR

Nomina = 0
Trabajador = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in Trabajador:
  NOM = float(input(f"Ingrese el el sueldo del trabajador #{i} "))
  Nomina = Nomina + NOM
  print("La nomina de la empresa es de $:", Nomina)

Ingrese el el sueldo del trabajador #1 1500
La nomina de la empresa es de $: 1500.0
Ingrese el el sueldo del trabajador #2 890
La nomina de la empresa es de $: 2390.0
Ingrese el el sueldo del trabajador #3 700
La nomina de la empresa es de $: 3090.0
Ingrese el el sueldo del trabajador #4 950
La nomina de la empresa es de $: 4040.0
Ingrese el el sueldo del trabajador #5 2300
La nomina de la empresa es de $: 6340.0
Ingrese el el sueldo del trabajador #6 1650
La nomina de la empresa es de $: 7990.0
Ingrese el el sueldo del trabajador #7 1800
La nomina de la empresa es de $: 9790.0
Ingrese el el sueldo del trabajador #8 1400
La nomina de la empresa es de $: 11190.0
Ingrese el el sueldo del trabajador #9 760
La nomina de la empresa es de $: 11950.0
Ingrese el el sueldo del trabajador #10 900
La nomina de la empresa es de $: 12850.0

In [29]:
# EJEMPLO 3.4  

SUMGAS = 0
GASTO = 1.0
while GASTO > 0.0:
  EX = float (input("Dinero: $ "))
  SUMGAS += (EX if EX > 0.0 else 0.0)
  GASTO = EX 
  print(f"Los gastos son: $ {SUMGAS}")

Dinero: $2528
Los gastos son: $2528.0
Dinero: $3500
Los gastos son: $6028.0
Dinero: $1600
Los gastos son: $7628.0
Dinero: $1850
Los gastos son: $9478.0
Dinero: $150
Los gastos son: $9628.0
Dinero: $-1
Los gastos son: $9628.0