<a href="https://colab.research.google.com/github/Eiram1/cyp_2021/blob/main/Tarea3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# EJEMPLO 1.1
PREPO = 0
PAGO = 0
DEVO = 0

PREPO = float(input("Dame el costo: "))
PAGO = float(input("Pago con: "))

DEVO = PAGO - PREPO
print("EL cambio es: ", DEVO)

Dame el costo: 86.25
Pago con: 100
EL cambio es:  13.75

In [6]:
# EJEMPLO 1.2
BASE = 0
ALTU = 0
AREA = 0

BASE = float(input("Cual es la base: "))
ALTU = float(input("Cual es la altura: "))

AREA = (BASE * ALTU) / 2
print("El area es: ", AREA)

Cual es la base: 8.5
Cual es la altura: 7.2
El area es:  30.6

In [13]:
# EJEMPLO 1.3
NOM = 0
PES = 0
LON = 0
PESKIL = 0
LONMET = 0

NOM = input("Nombre del dinosaurio: ")
PES = int(input("Peso del dinosaurio en libras: "))
LON = int(input("Longitud del dinosaurio en pies: "))

PESKIL = PES * 1000
print("Peso en kilogramos:", PESKIL)

LONMET = LON * 0.3047
print("Longitud en metros:", LONMET)

Nombre del dinosaurio: SDFS
Peso del dinosaurio en libras: 5
Longitud del dinosaurio en pies: 30
Peso en kilogramos: 5000
Longitud en metros: 9.141

In [22]:
# EJEMPLO 1.4
GAL = 0
TOTAL = 0

GAL = float(input("Litros de gasolina vendidos: "))

TOTAL = (GAL * 3.785) * 8.20
print( "Total:",TOTAL )

Litros de gasolina vendidos: 19.9
Total: 617.6363

In [24]:
# EJEMPLO 1.5
RADIO = 0 
ALTU = 0
AREA = 0
VOL = 0

RADIO = float(input("Dame el radio: "))
ALTU = float(input("Dame la altura: "))

AREA = 2 * 3.141592 * RADIO * ALTU 
print("El area es:",AREA)

VOL = 3.141592 * RADIO ** 2 * ALTU
print("El volumen es:",VOL)

Dame el radio: 45.22
Dame la altura: 11.60
El area es: 3295.856733568
El volumen es: 74519.32074597248

In [28]:
# EJEMPLO 1.6
DIAS = 0
SEG = 0
MIN = 0

DIAS = int(input("Cuantos dias convertimos a segundos: "))

SEG = DIAS * 24 * 60 * 60
print("son:",SEG)

MIN = DIAS * 24 * 60
print("Minutos:",MIN)

Cuantos dias convertimos a segundos: 1
son: 86400
Minutos: 1440